<div class="reservations-wrapper">
  <h2 class="dialog-title">
    My reservations
    <button class="close-btn" type="button" (click)="close()">✕</button>
  </h2>

  <div *ngIf="reservations.length; else empty" class="flights-grid">
    <mat-card *ngFor="let r of reservations" class="flight-card">
      <mat-card-title>{{ getCityName(r.flight.departureCity) }} → {{ getCityName(r.flight.arrivalCity) }}</mat-card-title>
      <mat-card-content>
        <p><strong>Date:</strong> {{ r.flight.flightDate | date:'short' }}</p>
        <p><strong>Reservaed seats:</strong> {{ r.reservedSeats }}</p>
        <p><strong>Seat class:</strong> {{ getSeatClassName(r.seatClass) }}</p>
        <p><strong>Bags:</strong> {{ r.bags }}</p>
        <p><strong>Status:</strong> {{ getStatusName(r.status) }}</p>
        <p><strong>Price:</strong> ${{ r.price }}</p>
      </mat-card-content>
     
    </mat-card>
  </div>

  <ng-template #empty>
    <p>You don't have reservations.</p>
  </ng-template>
</div>
